.hero-unit {
    padding: 30px 20px 30px 20px;
    text-align: center;
}

h3 .diff_title {
    font-family: 'Leckerli One', cursive;
}

#difference > .span2{
    border: 1px dashed #e5e5e5;
    color: #555555;
}

#difference > .span2:nth-child(1) {
    background-color: #209b52;
}

#difference > .span2:nth-child(2) {
    background-color: #0c7749;
}

#difference > .span2:nth-child(3) {
    background-color: #209b52;
}

#difference > .span2:nth-child(4) {
    background-color: #0c7749;
}

#difference > .span2:nth-child(5) {
    background-color: #209b52;
}

#difference > .span2 > div{
    padding: 12px;
}

#difference > .span2 h3 {
    font-size: 22px;
    font-weight: bold;
}

#browser-promote a {
    color:#eeeeee;
    text-decoration: underline;
    font-weight: bold;
}
